# Optional overrides
MAL_UPDATER_CONFIG_DIR=./config
MAL_UPDATER_SETTINGS_PATH=./config/settings.toml
MAL_UPDATER_SECRETS_DIR=./secrets
MAL_UPDATER_DATA_DIR=./data
MAL_UPDATER_STATE_DIR=./state
MAL_UPDATER_CACHE_DIR=./cache
MAL_UPDATER_DB_PATH=./data/mal_updater.sqlite3
MAL_UPDATER_CRUNCHYROLL_ADAPTER=./rust/crunchyroll_adapter/target/debug/crunchyroll-adapter
MAL_UPDATER_COMPLETION_THRESHOLD=0.90
MAL_UPDATER_CONTRACT_VERSION=1.0
MAL_UPDATER_MAL_BASE_URL=https://api.myanimelist.net/v2
MAL_UPDATER_MAL_AUTH_URL=https://myanimelist.net/v1/oauth2/authorize
MAL_UPDATER_MAL_TOKEN_URL=https://myanimelist.net/v1/oauth2/token
MAL_UPDATER_MAL_REDIRECT_HOST=127.0.0.1
MAL_UPDATER_MAL_REDIRECT_PORT=8765
MAL_UPDATER_CRUNCHYROLL_LOCALE=en-US
MAL_UPDATER_MAL_CLIENT_ID_FILE=./secrets/mal_client_id.txt
MAL_UPDATER_MAL_CLIENT_SECRET_FILE=./secrets/mal_client_secret.txt
MAL_UPDATER_MAL_ACCESS_TOKEN_FILE=./secrets/mal_access_token.txt
MAL_UPDATER_MAL_REFRESH_TOKEN_FILE=./secrets/mal_refresh_token.txt
