[Unit]
Description=Run MAL-Updater health-check about every 12 hours with jitter

[Timer]
Unit=mal-updater-health-check.service
OnUnitInactiveSec=10h
RandomizedDelaySec=4h
Persistent=true
AccuracySec=5min

[Install]
WantedBy=timers.target
